@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #681597;
}

nav {
    width: 100vw;
    padding: 30px;
    background-color: #1b1e20;
    display: flex;
    color: white;
}

nav p {
    margin: 0 15px 0 0;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px white;
}

nav .modos {
    display: flex;
    justify-content: space-around;
}

nav .modos p {
    margin: 7px 15px 0 15px;
    font-size: 18px;
    text-shadow: none;
    cursor: pointer;
}

main {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .jogo { 
    width: 100vw;
    height: 54vh;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
}

.oculto {
    display: none;
    visibility: hidden;
}